importing all the necessary libs for this

In [47]:
import pandas as pd
import numpy as np
from pathlib import Path

In [48]:
project_root = Path.cwd().parent  # takes me to where the Readme file is 
raw_files = Path(project_root/"data/raw")
cleaned = Path(project_root/"data/cleaned")
cleaned.mkdir(exist_ok=True)
files = list(raw_files.glob("*.csv"))

In [49]:
for f in files:
    df = pd.read_csv(f)
    df = df.drop([0,1]).reset_index(drop=True)
    
    df = df.rename(columns={"Price":"Date"})

    out_file = cleaned/ f.name
    df.to_csv(out_file, index=False)
    
    print(f"Cleaned {f.name}")
    display(df.head(2))

    # for some reason its not dropping the 1st row

Cleaned AXISBANK.NS_prices.csv

,Date,Close,High,Low,Open,Volume
0,2025-03-19,1051.1517333984375,1057.646183234451,1042.6089852123262,1046.9053623518132,4822365
1,2025-03-20,1053.44970703125,1057.9958707491392,1046.0061170837591,1055.3481090881514,3742644

Cleaned BHARTIARTL.NS_prices.csv

,Date,Close,High,Low,Open,Volume
0,2025-03-19,1623.5770263671875,1628.4364265129727,1614.0070066934181,1621.444827000761,6283464
1,2025-03-20,1691.1124267578125,1695.4759722582721,1632.4527924932477,1646.2375771399904,12074465

Cleaned HDFCBANK.NS_prices.csv

,Date,Close,High,Low,Open,Volume
0,2025-03-19,853.07177734375,856.4467077795136,847.2512537961089,848.6208098215055,15221406
1,2025-03-20,865.1285400390625,867.6964127374116,855.615206972685,857.9140405532244,17833978

Cleaned HINDUNILVR.NS_prices.csv

,Date,Close,High,Low,Open,Volume
0,2025-03-19,2177.15478515625,2189.8216276997773,2170.623372744765,2184.0324102623285,1341405
1,2025-03-20,2219.06396484375,2225.4963214258246,2165.6754535325167,2180.964622011462,1426689

Cleaned ICICIBANK.NS_prices.csv

,Date,Close,High,Low,Open,Volume
0,2025-03-19,1303.0455322265625,1308.2057883620175,1292.1794251380722,1295.6029599370165,11278014
1,2025-03-20,1311.5797119140625,1314.1102350516276,1301.0113557334153,1309.8927772461004,10886735

Cleaned INFY.NS_prices.csv

,Date,Close,High,Low,Open,Volume
0,2025-03-19,1564.536865234375,1580.7585753901394,1550.9776447654951,1580.7585753901394,7387068
1,2025-03-20,1593.134521484375,1609.2576434825316,1569.9112262370732,1569.9112262370732,7186750

Cleaned ITC.NS_prices.csv

,Date,Close,High,Low,Open,Volume
0,2025-03-19,395.75811767578125,403.31882336844717,395.3162769319527,402.5823921632704,12830387
1,2025-03-20,396.641845703125,399.2929799729773,394.62891583099076,397.6728373693795,16994037

Cleaned RELIANCE.NS_prices.csv

,Date,Close,High,Low,Open,Volume
0,2025-03-19,1242.1888427734375,1248.2645525643281,1233.8720835165427,1236.113132982547,16162399
1,2025-03-20,1264.101318359375,1267.9359786597456,1245.0773228865291,1246.8700894970418,15971477

Cleaned SBIN.NS_prices.csv

,Date,Close,High,Low,Open,Volume
0,2025-03-19,730.4331665039062,734.5505041985215,724.551272606947,725.0414304316936,7604850
1,2025-03-20,734.7955932617188,737.8836115337692,729.5509283979652,733.2761159507572,6963197

Cleaned TCS.NS_prices.csv

,Date,Close,High,Low,Open,Volume
0,2025-03-19,3454.56689453125,3503.8598932625678,3420.634577218764,3503.8598932625678,3051244
1,2025-03-20,3519.813232421875,3535.4211137803227,3469.285438744659,3469.285438744659,2845192

Preprocessinf the data to get returns and Volitility

Date      object
Close     object
High      object
Low       object
Open      object
Volume    object
dtype: object

In [55]:
processed = Path(project_root / "data/processed")
processed.mkdir(exist_ok=True)

cleaned_files = list(cleaned.glob("*.csv"))


for f in cleaned_files:
    df = pd.read_csv(f,parse_dates=['Date'])  # this will make the date col from object to datetime, probs
    df = df.sort_values("Date")
    

    # daily return
    df["daily_return"] = df['Close'].pct_change() # calculates fractional change = Current-Previous/Previous

    #  Rolling volatility (20-day window, annualized)
    df["vol_20"] = df["daily_return"].rolling(20).std() * np.sqrt(252)

    #  Mock sentiment (short-term momentum)
    df["sentiment"] = df["daily_return"].rolling(5).mean().fillna(0)
    df["sentiment"] = df["sentiment"].clip(-1, 1)

    # Save processed file
    out_file = processed / f.name.replace(".csv", "_processed.csv")
    df.to_csv(out_file, index=False)

    print(f"Processed {f.name}")
    display(df.head())

Processed AXISBANK.NS_prices.csv

,Date,Close,High,Low,Open,Volume,daily_return,vol_20,sentiment
0,2025-03-19,1051.151733,1057.646183,1042.608985,1046.905362,4822365,NaN,NaN,0.0
1,2025-03-20,1053.449707,1057.995871,1046.006117,1055.348109,3742644,0.002186,NaN,0.0
2,2025-03-21,1069.236206,1074.631619,1049.652967,1053.449649,6848565,0.014986,NaN,0.0
3,2025-03-24,1096.912476,1104.006388,1072.783074,1081.076035,8284863,0.025884,NaN,0.0
4,2025-03-25,1117.594971,1122.540695,1095.413853,1109.002216,11720528,0.018855,NaN,0.0

Processed BHARTIARTL.NS_prices.csv

,Date,Close,High,Low,Open,Volume,daily_return,vol_20,sentiment
0,2025-03-19,1623.577026,1628.436427,1614.007007,1621.444827,6283464,NaN,NaN,0.0
1,2025-03-20,1691.112427,1695.475972,1632.452792,1646.237577,12074465,0.041597,NaN,0.0
2,2025-03-21,1711.492188,1717.045736,1677.972360,1695.476056,14715349,0.012051,NaN,0.0
3,2025-03-24,1704.550171,1725.574362,1700.632846,1725.574362,4120999,-0.004056,NaN,0.0
4,2025-03-25,1716.153076,1726.070170,1691.955343,1710.698675,4857399,0.006807,NaN,0.0

Processed HDFCBANK.NS_prices.csv

,Date,Close,High,Low,Open,Volume,daily_return,vol_20,sentiment
0,2025-03-19,853.071777,856.446708,847.251254,848.620810,15221406,NaN,NaN,0.0
1,2025-03-20,865.128540,867.696413,855.615207,857.914041,17833978,0.014133,NaN,0.0
2,2025-03-21,865.911133,867.745328,858.672213,858.672213,33508264,0.000905,NaN,0.0
3,2025-03-24,880.413513,882.565647,867.525250,870.142022,17393736,0.016748,NaN,0.0
4,2025-03-25,890.905090,901.787980,881.147198,882.810213,39101416,0.011917,NaN,0.0

Processed HINDUNILVR.NS_prices.csv

,Date,Close,High,Low,Open,Volume,daily_return,vol_20,sentiment
0,2025-03-19,2177.154785,2189.821628,2170.623373,2184.032410,1341405,NaN,NaN,0.0
1,2025-03-20,2219.063965,2225.496321,2165.675454,2180.964622,1426689,0.019250,NaN,0.0
2,2025-03-21,2222.824463,2231.730803,2202.636856,2221.636999,2152415,0.001695,NaN,0.0
3,2025-03-24,2232.720215,2242.418277,2217.678446,2226.832183,1454404,0.004452,NaN,0.0
4,2025-03-25,2247.663330,2268.147863,2220.004245,2227.327139,2229340,0.006693,NaN,0.0

Processed ICICIBANK.NS_prices.csv

,Date,Close,High,Low,Open,Volume,daily_return,vol_20,sentiment
0,2025-03-19,1303.045532,1308.205788,1292.179425,1295.602960,11278014,NaN,NaN,0.0
1,2025-03-20,1311.579712,1314.110235,1301.011356,1309.892777,10886735,0.006549,NaN,0.0
2,2025-03-21,1332.815918,1338.670766,1301.557112,1305.923446,60494318,0.016191,NaN,0.0
3,2025-03-24,1347.750732,1362.487002,1334.751063,1345.567505,9352280,0.011205,NaN,0.0
4,2025-03-25,1333.411255,1353.357446,1319.865870,1348.594151,16419207,-0.010640,NaN,0.0

Processed INFY.NS_prices.csv

,Date,Close,High,Low,Open,Volume,daily_return,vol_20,sentiment
0,2025-03-19,1564.536865,1580.758575,1550.977645,1580.758575,7387068,NaN,NaN,0.0
1,2025-03-20,1593.134521,1609.257643,1569.911226,1569.911226,7186750,0.018279,NaN,0.0
2,2025-03-21,1570.453613,1581.646109,1541.954573,1556.056090,10074677,-0.014237,NaN,0.0
3,2025-03-24,1570.650757,1584.801628,1550.878900,1575.778559,8857726,0.000126,NaN,0.0
4,2025-03-25,1605.855347,1613.448582,1582.730762,1582.730762,9890140,0.022414,NaN,0.0

Processed ITC.NS_prices.csv

,Date,Close,High,Low,Open,Volume,daily_return,vol_20,sentiment
0,2025-03-19,395.758118,403.318823,395.316277,402.582392,12830387,NaN,NaN,0.0
1,2025-03-20,396.641846,399.292980,394.628916,397.672837,16994037,0.002233,NaN,0.0
2,2025-03-21,398.212891,400.127624,394.432568,398.605678,25302035,0.003961,NaN,0.0
3,2025-03-24,403.466095,405.380828,398.261993,399.636659,14362572,0.013192,NaN,0.0
4,2025-03-25,402.385986,407.737398,401.305911,404.546196,20338110,-0.002677,NaN,0.0

Processed RELIANCE.NS_prices.csv

,Date,Close,High,Low,Open,Volume,daily_return,vol_20,sentiment
0,2025-03-19,1242.188843,1248.264553,1233.872084,1236.113133,16162399,NaN,NaN,0.0
1,2025-03-20,1264.101318,1267.935979,1245.077323,1246.870089,15971477,0.017640,NaN,0.0
2,2025-03-21,1271.272583,1275.904109,1265.047446,1269.927978,21780769,0.005673,NaN,0.0
3,2025-03-24,1296.920166,1300.804676,1279.141198,1285.864347,20299319,0.020175,NaN,0.0
4,2025-03-25,1280.336426,1302.497915,1277.497787,1302.497915,13713899,-0.012787,NaN,0.0

Processed SBIN.NS_prices.csv

,Date,Close,High,Low,Open,Volume,daily_return,vol_20,sentiment
0,2025-03-19,730.433167,734.550504,724.551273,725.041430,7604850,NaN,NaN,0.0
1,2025-03-20,734.795593,737.883612,729.550928,733.276116,6963197,0.005972,NaN,0.0
2,2025-03-21,738.373779,740.726501,732.295810,735.187753,9577327,0.004870,NaN,0.0
3,2025-03-24,765.430481,767.538184,740.236356,743.079295,12095064,0.036644,NaN,0.0
4,2025-03-25,757.636963,770.528138,754.058846,768.469499,15190143,-0.010182,NaN,0.0

Processed TCS.NS_prices.csv

,Date,Close,High,Low,Open,Volume,daily_return,vol_20,sentiment
0,2025-03-19,3454.566895,3503.859893,3420.634577,3503.859893,3051244,NaN,NaN,0.0
1,2025-03-20,3519.813232,3535.421114,3469.285439,3469.285439,2845192,0.018887,NaN,0.0
2,2025-03-21,3534.581543,3572.267448,3422.857022,3432.735398,4161925,0.004196,NaN,0.0
3,2025-03-24,3584.812988,3605.360057,3523.221462,3556.215140,1834751,0.014211,NaN,0.0
4,2025-03-25,3613.262939,3664.877453,3593.753147,3600.668010,3135390,0.007936,NaN,0.0